/*p {
  color: white;
}
#bg {
  width: 360px;
  height: 500px; /* was 435px */
/*  background-color:#919191;
  padding: 10px 10px 10px 10px;
}
#screen {
  width: 340px;
  height: 70px;
  background-color: #acc1ad;
  margin: 0 auto;
  position: relative;
  border: 2px black solid;

}
#screenInput {
  font-size: 60px;
  text-align: right;
  padding-left: 20px;
}

.button {
  height: 70px;
  width: 70px;
  background-color: black;
  margin: 10px 10px 10px 10px;
  float: left;
  /*color:white;
  font-size: 50px;
  text-align: center;*/
}
.symbols {
  color: white;
  font-size: 50px;
  text-align: center;
  line-height: 70px;
}
#acbutton {
  background-color: #db0000;
}*/
